<div class="container-fluid navbar-dark bg-primary sticky-top pt-2">
    <div class="row">
        <div class="col-md-6 pt-2">
            <a class="navbar-brand" style="font-size: 26px;"><b>Github Search</b></a>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-github"></i></b></a>
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-facebook"></i></b></a>
            <a class="navbar-brand" style="font-size: 40px;"><b><i class="fab fa-linkedin"></i></b></a>
        </div>
    </div>
</div>