<div class="container">
  <!--Search bar-->
  <div class="row">
    <div class="col-sm-12 justify-content-center">
      <form class="well pt-4 w-50" #form = ngForm>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter github username you want to search..." [(ngModel)]="username" name="username" (keyup)="searchUser()" style="text-align:center">
        </div>
      </form>
    </div>
  </div>
  
  <div *ngIf="user">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pt-4" style="font-size: 20px;"><strong>GitHub Name: {{user.name}}</strong></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <img class="img-thumbnail myimg" src="{{user.avatar_url}}">
            <p class="pt-3">
              <a class="btn btn-success btn-block" target="_blank" href="{{user.html_url}}">View User Profile</a>
            </p>
          </div>
  
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="stats">
              <p>{{user.bio}}</p>
              <span class="label label-success text-white bg-primary p-1">{{user.public_repos}} Public Repositories</span>&nbsp;
              <span class="label label-info text-white bg-success p-1">{{user.followers}} Followers</span>&nbsp;
              <span class="label label-info text-white bg-info p-1">{{user.following}} Following</span>&nbsp;
            </div>
            <br/>
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Username: </strong>{{user.name}}
              </li>
              <li class="list-group-item">
                <strong>Location: </strong>{{user.location}}
              </li>
              <li class="list-group-item">
                <strong> Email: </strong>{{user.email_url}}
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="container" style="padding: right 500px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center"><strong>User Repositories</strong></h3>
      </div> -->
      <!-- <div class="card justify-content-around pb-2">
        <div *ngFor="let repo of repos">
          <div class="row">
            <div class=" card-body col-md-9">
              <h4 class="text-center">{{repo.name}}</h4>
              <p>{{repo.description}}</p>
              <a target="_blank" href="{{repo.html_url}}"><button class="btn btn-primary">check the repo</button></a>
            </div>
            <div class="col-md-3">
              
            </div>
          </div>
          <hr>
        </div>
      </div> -->
     
  <!-- </div>
  </div>
   <div class="container">
        <div class="row">
          <div class="col-sm-12" *ngFor="let repo of repos">
            <div class="card"  style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{repo.name}}</h5>
                <p class="card-text">{{repo.description}}</p>
                <a target="_blank" href="{{repo.html_url}}"><button class="btn btn-primary">check the repo</button></a>
          </div>
          </div>
          </div>
        </div> -->
       
  <!-- </div> -->

  <div>
    <h2 class="text-center pt-4  font-size:70px;">My github Repositories</h2>
</div>
<div class="container" style="text-align: center;">

    <div class="row" >
        <div class="col-md-6" *ngFor="let repos of repos">
            <div class="card mt-3">

                <p class="text-center pt-4" appHighlight>
                    {{repos.name}}
                </p>
                <p>
                    {{repos.description}}
                </p>

                <p>
                    {{repos.language}}
                </p>
                <p>
                   Date created: {{repos.created_at}}
                </p>
                <!-- <div class="card-footer text-center"> -->
                    <a href="{{ repos.html_url }}" class="pb-2" target="_blank"><button class="btn btn-success">check repo</button> </a>
                <!-- </div> -->

            </div>
        </div>

    </div>

</div>